@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <div class="row">
        <div class="col-3">
            <form asp-area="" asp-page="Index">
                <div class="form-group">                    
                    <p><input type="submit" value="Add" /> <span>Adds 1000 photos</span></p>
                </div>
            </form>
        </div>
        <div class="col-3">
            <form asp-area="" asp-page="Index">
                <div class="form-group">
                    <p><input type="submit" asp-page-handler="Reset" value="Reset" /> <span>Removes all photos</span></p>                    
                </div>
            </form>
        </div>
    </div>

    <div id="photos" class="row">
        <partial name="_ImagesCardPartial" for="Photos" />
    </div>
</div>

<div class="fixed-bottom bg-info">
    Retrieved <span id="takenPhotos" class="font-weight-bold">@Model.Photos.Count()</span> of <span class="font-weight-bold">@Model.TotalPhotos</span> images from the database. Loaded <span id="loadedPhotos" class="font-weight-bold">0</span>
</div> 

@section scripts {
    <partial name="_ImageLazyLoadingScriptsPartial" />
}